@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Roboto:wght@400;500;700;900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,200;0,400;1,200&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Sofia Sans Semi Condensed",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html {
  overflow-y: scroll;
  /* margin-right: calc(-1 * (100vw - 100%)); */
}

/* SCROLLBAR STYLING*/
::-webkit-scrollbar {
  width: 8px;
  margin-top: 50px;
}
::-webkit-scrollbar-track {
  background-color: #282c34;
  margin-top: 50px;
}
::-webkit-scrollbar-thumb {
  background-color: #282c34;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #434852;
}
